//$Sans-Narrow_bold: "Sans-Narrow_bold", "Verdana", sans-serif;
//$Sans-Narrow_regular: "Sans-Narrow_regular", "Verdana", sans-serif;

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  max-width: 1200px;
  background: #000000;
  padding: 0;
  margin: 0 auto;
  font-size: 0;

  font-family: $Sans-Narrow_regular;
}

.container {
  max-width: 960px;
  width: 84%;
  margin: 0 auto;

    @media (min-width: 320px) and (max-width: 768px) {
      width: auto;
    }
}

.btn {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-family: $Sans-Narrow_bold;

  color: #000000;
  border: 1px solid #e5ddd5;
  background: #f8f5f2;

  transition: .6s;

  &:hover {
    border-color: #d5c9bd;

    transition: .7s;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ttl {
  margin: 0;

  font: 40px $Sans-Narrow_bold;
  text-transform: uppercase;
  line-height: 30px;

  @media (min-width: 320px) and (max-width: 768px) {
    padding: 0;

    font-size: 30px;
    text-align: center;
  }
}



