@font-face {
  font-family: 'Sans-Narrow_bold';
  src:  url('../fonts/PT Sans Narrow/PT Sans Narrow Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sans-Narrow_regular';
  src:  url('../fonts/PT Sans Narrow/PT Sans Narrow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}