.footer {
  padding: 55px 0 60px 0;

  background: #292929;

  &__wrapper {
    display: flex;

    font-size: 18px;
    font-family: $Sans-Narrow_regular;
    line-height: 27px;

    color: #ffffff;
  }

  &__item {
    width: calc(100% / 3);

    a {
      text-decoration: none;
      color: #ffffff;

      cursor: pointer;
    }
  }

  &__title {
    margin-bottom: 10px;

    text-transform: uppercase;
    font-family: $Sans-Narrow_bold;
    line-height: 18px;
  }

  &__address {
    display: block;
    margin-bottom: 5px;

     br {
       display: none;
     }
}

  &__item--social {
    text-align: center;
    font-size: 0;


    p {
      margin: 0 0 5px 0;

      font-size: 18px;
    }
  }

  &__social-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 5px 0 0;

    font-size: 0;

    border: 1px solid #3f3f3f;

    &:hover {
      border-color: #515151;
    }
  }

  &__social-btn--vk {
    background: url("../img/footer-desktop-sprite.png") no-repeat -150px -10px ;
  }

  &__social-btn--inst {
    margin: 0;
    background: url("../img/footer-desktop-sprite.png") no-repeat -10px -10px;
  }

  &__social-btn--fb {
    background: url("../img/footer-desktop-sprite.png") no-repeat -80px -10px;
  }

  &__item--copyright {
    display: flex;
    flex-direction: column;
    text-align: right;
    max-height: 88px;

    p {
      margin: 0 7% 0 0;
    }
  }

  &__button {
    margin: auto 0 0 auto;
    display: block;
    width: 40%;

    font-size: 18px;

    background: #292929;

    border: 1px solid #3f3f3f;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer {

    &__wrapper {
      flex-wrap: wrap;
    }

    &__item {
      width: 50%;
    }

    &__item--social {
      margin-top: 50px;
      width: 100%;
      order: 3;

      p {
        display: none;
      }
    }

    &__social-btn {
      height: 100px;
      margin: 0;
      width: calc(100% / 3);
    }

    &__social-btn--vk {
      background: url("../img/vk-icon-big.png") no-repeat center center;
    }

    &__social-btn--inst {
      background: url("../img/insta-icon-big.png") no-repeat center center;

    }

    &__social-btn--fb {
      background: url("../img/facebook-icon-big.png") no-repeat center center;
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .footer {

    &__wrapper {
      flex-wrap: wrap;
    }

    &__item {
      width: 100%;

      text-align: center;
    }

    &__item--social {

      margin-bottom: 20px;

      p {
        display: none;
      }
    }

    &__phone {
      display: block;
      margin-bottom: 20px;

      line-height: 50px;

      border: 1px solid #3f3f3f;
    }


    &__address {
      margin-bottom: 20px;

      br {
        display: block;
      }
    }

    &__social-btn {
      height: 100px;
      margin: 0;
      width: calc(100% / 3);
    }

    &__social-btn--vk {
      background: url("../img/vk-icon-big.png") no-repeat center center;
    }

    &__social-btn--inst {
      background: url("../img/insta-icon-big.png") no-repeat center center;

    }

    &__social-btn--fb {
      background: url("../img/facebook-icon-big.png") no-repeat center center;
    }

    &__button {
      margin: 10px 5% 0;
      width: 90%;
    }

  }
}