.news {
  padding: 65px 0 0 0;

  background: #f8f5f2;
  border-bottom: 1px solid #e5ddd5;

  &__wrapper {
    position: relative;
  }

  &__title {
    padding: 0 0 0 70px;
  }

  &__items {
    display: flex;
    padding: 65px 0 45px 0;

    font-family: $Sans-Narrow_regular;
  }

  &__item {
    display: flex;
    width: calc(100% / 3);

    text-decoration: none;
    color: #000000;

    transition: .4s;

    &:hover .news__date-wrapper {
      background: #826550;

      box-shadow: 0 0 3px #886e5b;

      &:after {
        border-top-color: #826550;

        transition: .5s;
      }
    }

    &:hover .news__text {
      color: #886e5b;

      text-shadow: 0 0 1px #886e5b;
      transition: .6s;
    }
  }

  &__date-wrapper {
    position: relative;

    margin: 0 5%;

    line-height: 30px;
    text-align: center;
    width: 50px;
    height: 60px;
    padding: 7px 0 0 0;

    color: #ffffff;
    background: #000000;

    transition: .5s;

    &:after {
      position: absolute;
      bottom: -20px;
      left: 0;

      width: 2px;
      height: 10px;

      border-top: 10px solid #000000;
      border-left: 24px solid transparent;
      border-right: 24px solid transparent;

      transition: .5s;

      content: "";
    }
  }

  &__date {
    font-size: 30px;
  }

  &__month {
    line-height: 16px;
    font-size: 16px;
  }

  &__text {
    font-size: 20px;
    line-height: 27px;
    width: 75%;

    transition: .5s;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;

    width: 15%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  .news {

    &__item {
      width: 50%;

      &:nth-child(3) {
        display: none;
      }
    }

    &__button {
      width: 25%;
    }
  }
}

@media (max-width: 768px) {

  .news {

    &__items {
      height: auto;
      padding: 30px 0 130px 0;
      flex-direction: column;
      justify-content: space-between;
    }

    &__item {
      width: 100%;

      &:first-child {
        margin-bottom: 20px;
      }

      &:nth-child(3) {
        display: none;
      }
    }

    &__button {
      top: 80%;

      width: 90%;
      margin: 0 5%;
    }
  }
}
