.page-header {
  position: relative;
  display: flex;
  flex-direction: column;

  &__logo {
    display: flex;
    height: 650px;
    order: 2;

    background: #000000 url("../img/back-desktop.png");

    & img {
      margin: 110px auto auto;
      height: auto;
    }
  }

  &__logo--secondary-page {

    height: 305px;

    img {
      margin-top: 55px;
    }
  }

  &__geometry {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 68px;
    min-width: 100%;

    background: url("../img/features-geometry.png") no-repeat center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  .page-header {

    &__logo--secondary-page {

      height: 215px;

      img {
        margin-top: 40px;
      }
    }

  }
}

@media (min-width: 320px) and (max-width: 768px) {

  .page-header {
    display: block;

    background: none;

    &__logo {
      height: 85px;
      order: 1;
      justify-content: center;

      & img {
        width: auto;
        margin: auto;
      }
    }

    &__geometry {
      display: none;
    }
  }
}