.page-header {
  display: flex;
  flex-direction: column;

  &__logo {
    display: flex;
    height: 650px;
    order: 2;

    background: #000000 url("../img/back-desktop.png");

    & img {
      margin: 110px auto auto;
      height: auto;
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {

  .page-header {
    display: block;

    background: none;

    &__logo {
      height: 85px;
      order: 1;
      justify-content: center;

      & img {
        width: auto;
        margin: auto;
      }
    }
  }
}