.photo-block {
  padding: 60px 0 0 0;

  background: #f8f5f2;

  &__wrapper {
    position: relative;
  }

  &__title {
    margin: 0 0 60px 0;

    line-height: 50px;
  }

  &__button {
    position: absolute;

    display: block;
    height: 50px;
    width: 17%;

    top: 0;
    right: 0;
  }

  &__main-photo {
    position: relative;

    display: flex;
    margin: 0 0 40px 0;

    font-family: $Sans-Narrow_regular;

  }

  &__high-rated {
    position: absolute;
    top: 0;
    right: 0;

    width: 17%;

    font-size: 20px;
    line-height: 50px;
    font-family: $Sans-Narrow_bold;
    text-transform: uppercase;
    text-align: center;

    color: #ffffff;
    background: #826550;

    &:before {
      position: absolute;
      bottom: 15px;
      left: -20%;

      width: 0;
      height: 10px;

      border-top: 10px solid transparent;
      border-left: 25px solid #826550;
      border-right: 25px solid #826550;

      transform: rotate(270deg);

      content: "";
    }

  }

  &__image {
    height: 480px;
    width: 480px;

    background: url("../img/main-photo-desktop.png") no-repeat center;
  }

  &__main-item-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 135px 0 0 40px;

    border: 1px solid #e5ddd5;
    border-left: none;

    p {
      width: 60%;
      margin: 30px 0 0 0;
    }
  }


  &__person {
    font-family: $Sans-Narrow_bold;
    font-size: 24px;
    line-height: 27px
  }

  &__text {
    font-size: 18px;
    line-height: 27px;
  }

  &__services {
    display: flex;
    width: 80%;
    margin: auto 0 30px 35px;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__services--no-margin-left {
    margin-left: 0;
  }

  &__haircut {
    position: relative;

    margin: 0 40px 0 0;
    padding-left: 35px;

    &:before {
      position: absolute;
      left: 0;

      width: 21px;
      height: 21px;

      background: url("../img/services-sprite.png") no-repeat -10px -10px;

      content: "";
    }
  }

  &__shave {
    position: relative;

    margin: 0 40px 0 0;
    padding-left: 35px;

    &:before {
      position: absolute;
      left: 0;

      width: 23px;
      height: 21px;

      background: url("../img/services-sprite.png") no-repeat -51px -10px;

      content: "";
    }

  }

  &__mustache {
    position: relative;

    padding-left: 48px;

    &:before {
      position: absolute;
      left: -12px;

      width: 45px;
      height: 21px;

      background: url("../img/services-sprite.png") no-repeat -94px -10px;

      content: "";
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    padding: 0 0 80px 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 540px;

    border: 1px solid #e5ddd5;
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
    padding: 35px 5% 0 10%;
  }


  &__image--petr {
    margin: 0;
  }

  &__image--sasha {
    width: auto;
    height: 294px;

    background: url("../img/item-1-desktop.png") no-repeat left;
  }

  &__image--vladimir {
    width: auto;
    height: 294px;

    background: url("../img/item-2-desktop.png") no-repeat left;
  }

  &__image--winston {
    width: auto;
    height: 294px;

    background: url("../img/item-3-desktop.png") no-repeat left;
  }

  &__text {
    margin: 30px 0 auto 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  .photo-block {

    background: #f8f5f2 url("../img/photo-block-geometry.png") no-repeat bottom ;

    &__high-rated {
      right: 70%;
      width: 30%;
      padding: 0 10px;
      display: block;

      &:before {

        left: 90%;

        transform: rotate(90deg);
      }
    }

    &__main-item-wrapper {
      width: 60%;
    }

    &__services--no-margin-left {
      flex-wrap: wrap;

      span {
        min-width: 20%;
        display: block;
        margin: 20px 0 0 35px;
      }
    }

    &__image--petr {
      width: 40%;

      background-position: 85%;
    }

    &__text {
      width: 75%;
    }

    &__items {
      flex-direction: column;
    }

    &__item {
      position: relative;

      width: auto;
      margin: 0 0 40px 0;
      flex-direction: row;
      height: auto;
      flex-wrap: wrap;
    }

    &__image {
      width: 40%;
    }

    &__item-wrapper {
      width: 60%;
    }

    &__services {
      position: absolute;
      bottom: 0;
      left: 40%;

      width: 50%;
    }
  }

}

@media (min-width: 320px) and (max-width: 768px) {

  .photo-block {
    padding: 15px 0 80px 0;
    background: #f8f5f2 url("../img/photo-block-geometry.png") no-repeat bottom ;

    &__title {
      margin: 0 0 15px 0;
    }

    &__button {
      display: none;
    }

    &__high-rated {
      right: 40%;
      top: 410px;
      width: 60%;

      &:before {

        left: 90%;

        transform: rotate(90deg);
      }
    }

    &__wrapper {
      width: 84%;
    }

    &__main-photo {
      flex-direction: column;

      border: 1px solid #e5ddd5;
    }

    &__image {
      height: 180px;
    }

    &__image--petr {
      width: auto;
      height: 480px;
      background-position: right;
    }

    &__main-item-wrapper {
      width: auto;
      padding: 25px 0 0 7%;

      border: none;

      p {
        width: 90%;
        margin-top: 10px;
      }
    }

    &__items {
      padding-bottom: 0;
      flex-direction: column;
    }

    &__item {
      width: auto;
      height: 390px;
      margin: 0 0 40px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__services {
      margin-left: 7%;
    }

    &__services--no-margin-left {

      flex-wrap: wrap;
      width: auto;
      margin-left: 0;

      span {
        min-width: 20%;
        display: block;
        margin: 20px 0 0 0;

        font-size: 16px;

        &:nth-child(2) {
          margin-left: 35px;
        }
      }
    }

    &__item-wrapper {
      padding: 20px 0 0 7%;

      p {
        margin: 10px 0 0 0;
      }
    }


  }
}