.stats {

  margin-top: -159px;

  @include regular;
  font-size: 20px;

  color: #ffffff;
  background: #242424;

  &__wrapper {
    display: flex;
  }

  &__header {
    position: relative;

    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    min-height: 320px;
    padding: 30px 0 35px 40px;

    background: #ffffff;
    color: #000000;

    &:before {
      position: absolute;
      top: 27px;
      left: -15px;

      border: 15px solid transparent;
      border-bottom-color: #ffffff;
      transform: rotate(45deg);

      content: "";
    }

  }

  &__slogan {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
  }

  &__intro {
    margin: 50px 0 0 0;
    padding-right: 20%;
    line-height: 27px;
  }

  &__legend {
    opacity: .5;

    margin-top: auto;

    font-size: 20px;
  }

  &__legend--bottom {
    display: none;
  }

  &__items {
    display: flex;
    width: calc(100% / 1.5);
  }

  tbody {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

  }

  &__items tr {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px 30px;

    z-index: 10;

    &:first-child {
      background: #404040;
    }

    &:nth-child(2) {
      background: #4e4e4e;
    }

    &:nth-child(3) {
      background: #353535;
    }

    &:last-child {
      background: #404040;
    }
  }

  &__value {
    display: flex;
    font-size: 72px;
    line-height: 55px;
    font-weight: bold;

    sup {
      display: block;
      font-weight: normal;
      margin-left: 10px;
    }
  }

  &__field {
    margin-top: auto;
    line-height: 20px;

    br {
      display: none;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  .stats {
    margin-top: -185px;

    &__wrapper {
      flex-direction: column;
    }

    &__header {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      min-height: 185px;
      padding-bottom: 20px;
    }

    &__slogan {
      width: 50%;
    }

    &__intro {
      width: 33%;
      margin: 0;
      padding: 0;
    }

    &__items {
      width: auto;
    }

    &__field {
      margin-top: 15px;
    }
  }
}

@media (max-width: 768px) {
  .stats {
    margin: 0;

    background: #242424;

    &__wrapper {
      flex-direction: column;
    }

    &__header {
      width: auto;
      padding: 30px;
      text-align: center;
      min-height: auto;

      &:before {
        display: none;
      }
    }

    &__intro {
      padding: 0;
      margin-top: 25px;
    }

    &__items {
      width: auto;

      tr {
        width: 100%;
        padding: 25px 20px;
        flex-direction: row;
        justify-content: space-between;

        z-index: 0;

      }
    }

    &__field {
      margin: 0;
      font-size: 18px;
      line-height: 18px;
      text-align: right;

      br {
        display: block;
      }
    }

    &__slogan {
      font-size: 30px;
      line-height: 30px;
      text-transform: uppercase;
      font-family: $Sans-Narrow_bold;
    }

    &__legend--top {
      display: none;
    }

    &__legend--bottom {
      display: block;
      text-align: center;
      padding: 20px 0 20px 0;

    }

    &__value {
      font-size: 40px;
      line-height: 40px;
    }
  }
}